<%- include("partials/header.ejs") %>
<div class="Container" style="height: 100%">
			<div class="d-flex justify-content-center align-items-center row" style="height: 100%">
				<div class="column-lg-12">
					<div id="home-content">
    					<h1 class="display-4" style="color: #DAA03DFF">Sudoku Challenge</h1>
    					<p class="lead" style="color: #FFFFF4AF">Ready to put your mind to the test? Start right off!</p>
    					<hr>
						<div class="d-flex justify-content-center">
							<a href="/solve" type="button" class="h-btn btn btn-outline-dark">Start Game</a>
						</div>
						
					</div>
				</div>
			</div>
		</div>
<%- include("partials/footer.ejs") %>